<%= simple_form_for @podcast, html: { multipart: true }  do |f| %>
  <div class="row">
    <div class="large-5 columns">
      <%= f.input :name, class: '' %>
      <div class="row">
        <div class="large-8 small-8 columns">
          <%= f.input :stream_id, collection: Stream.all %>
        </div>
        <div class="large-4 small-4 columns">
          <br>
          <%= link_to(t('.new_stream'), new_stream_path, class: 'button tiny') %>
        </div>
      </div>

      <%= f.input :image, as: :file %>

      <h5><%= t('.time_settings') %></h5>
      <%= f.input :day_of_week, collection: t('date.day_names').each_with_index.map {|x,i| [x, i] } %>
      <%= f.input :start_at %>
      <%= f.input :length %>
    </div>
  </div>
  <%= f.button :submit, class: 'pure-button pure-button-primary' %>
<% end %>
