<div class="row center content">
  <div class="large-12 columns">
    <h2><%= t('.title') %></h2>

    <% unless streamripper_installed? %>
      <div class="alert-box alert"><%= t '.streamripper_missing' %></div>
    <% end %>

    <% if @podcasts.count == 0 %>
      <p><%= t('.none') %></p>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>
              <%= t '.name' %>
            </th>
            <th>
              <%= t '.stream' %>
            </th>
            <th>
              <%= t '.record_at' %>
            </th>
          </tr>
        </thead>
        <% @podcasts.each do |podcast| %>
          <tr>
            <td>
              <%= link_to(podcast.name, podcast_path(podcast)) %>
            </td>
            <td>
              <%= podcast.stream.name %>
            </td>
            <td>
              <%= t('.record_at_details', day_of_week: t('date.day_names')[podcast.day_of_week], time: l(podcast.start_at, format: :time_only), duration: podcast.length) %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
