<div class="row center podcast">
  <div class="large-12 columns">
    <h2><%= image_tag @podcast.image.thumb('45x45#').url if @podcast.image_uid %><%= @podcast.name %></h2>
    <h5 class="subheader">
      <%= t('.title', stream: @podcast.stream.name, day_of_week: t('date.day_names')[@podcast.day_of_week], time: l(@podcast.start_at, format: :time_only)) %>,
        Feed:
        <%= podcast_url(@podcast, format: :rss) %>
    </h5>
    <div class="buttons">
      <%= link_to(t('.edit_button'), edit_podcast_path(@podcast), class: 'button tiny hide-for-small') %>
    </div>

    <% @episodes.each_with_index do |episode, index| %>
      <div class="episode <%= 'first' if index == 0%>">
        <h4 title="<%= l(episode.scheduled_at.to_date) %>"><%= t('.ago', time: time_ago_in_words(episode.scheduled_at.to_date)) %></h4>
        <audio src="<%= episode_file_url(episode) %>" preload="none"/>
      </div>

      <% if index == 0 %>
        <hr>
      <% end %>
    <% end %>
    <%= paginate @episodes %>
  </div>
</div>
