<div class="row center podcast">
  <div class="large-12 columns">
    <h2><%= @podcast.name %> <small><%= t('.title', stream: @podcast.stream.name, day_of_week: t('date.day_names')[@podcast.day_of_week], time: l(@podcast.start_at, format: :time_only)) %></small></h2>
    <div class="buttons">
      <%= link_to(t('.edit_button'), edit_podcast_path(@podcast), class: 'button tiny') %>
    </div>

    <div class="row">
      <div class="large-1 columns">
        Feed:
      </div>
      <input class="feed-url large-11 columns" value="<%= podcast_url(@podcast, format: :rss) %>" />
    </div>
    
    <% @episodes.each_with_index do |episode, index| %>
      <div class="episode">
        <% if index == 0 %>
          <h4><%= l(episode.scheduled_at.to_date) %> <small><%= t('.latest') %></small></h4>
        <% else %>
          <h4><%= l(episode.scheduled_at.to_date) %></h4>
        <% end %>
        <audio src="<%= episode_file_url(episode) %>" preload="none"/>
      </div>
    <% end %>
  </div>
</div>
