<div class="row center podcast">
  <div class="large-12 columns">
    <h2><%= @podcast.name %> <small><%= @podcast.stream.name %>, <%= Date::DAYNAMES[@podcast.day_of_week] %>s at <%= @podcast.start_at.strftime('%H:%M') %></small></h2>
    <div class="buttons">
      <%= link_to('Edit Podcast', edit_podcast_path(@podcast), class: 'button tiny') %>
    </div>

    <div class="row">
      <div class="large-1 columns">
        Feed:
      </div>
      <input class="feed-url large-11 columns" value="<%= podcast_url(@podcast, format: :rss) %>" />
    </div>
    
    <% @episodes.each_with_index do |episode, index| %>
      <div class="episode">
        <% if index == 0 %>
          <h4><%= episode.scheduled_at.strftime('%d.%m.%Y') %> <small>latest</small></h4>
        <% else %>
          <h4><%= episode.scheduled_at.strftime('%d.%m.%Y') %></h4>
        <% end %>
        <audio src="<%= episode_file_url(episode) %>" preload="none"/>
      </div>
    <% end %>
  </div>
</div>
