<!DOCTYPE html>
<html>
<head>
  <title>meh</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">
</head>
<body class="scope-<%= controller.controller_name %>">
  <header>
    <div class="row center">
      <div class="large-12 columns">
        <h1><%= link_to('meh', root_path) %></h1>
        <%= link_to('+', new_podcast_path, class: 'new-podcast-button') %>
      </div>
    </div>
  </header>

  <%= yield %>

  <footer>
    <div class="row center">
      <div class="large-12 columns">
        <a href="https://github.com/pascalj/meh">meh</a> by <a href="http://pascalj.com">Pascal Jungblut</a> — MIT Licence
      </div>
    </div>
  </footer>

</body>
</html>
